<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Pixelify+Sans:wght@400..700&display=swap"
        rel="stylesheet">

</head>
<style>
    body {
        font-family: "bungee", sans-serif;
    }

    .m-bg {
        background: linear-gradient(#18153f 85%, #00a86b 15%);
    }

    .pixel-box {
        border: 4px solid #000;
        box-shadow:
            4px 0 #000,
            0 4px #000,
            4px 4px #000;
    }

    .pixel-input {
        background: #1f2937;
        border: 2px solid #000;
        color: white;
        padding: 10px;
        width: 100%;
    }

    .pixel-btn {
        background: #e52521;
        border: 4px solid #000;
        box-shadow: inset -4px -4px #b91c1c;
        transition: transform 0.1s;
    }

    .pixel-btn:hover {
        transform: translateY(2px);
        box-shadow: inset -2px -2px #b91c1c;
    }

    .shooting-star {
        position: absolute;
        width: 120px;
        height: 2px;
        background: linear-gradient(90deg, white, transparent);
        opacity: 0;
        transform: rotate(-45deg);
        animation: shoot 3s linear infinite;
    }

    .delay-1 {
        animation-delay: 1s;
    }

    .delay-2 {
        animation-delay: 2s;
    }

    .delay-3 {
        animation-delay: 3s;
    }

    @keyframes shoot {
        0% {
            transform: translateX(0) translateY(0) rotate(-45deg);
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        100% {
            transform: translateX(-100px) translateY(100px) rotate(-45deg);
            opacity: 0;
        }
    }
</style>

<body>
    <div class="relative flex items-center justify-center min-h-screen overflow-hidden">


        <!-- <div class="pixel-box p-6 w-[420px] min-h-106 z-10 text-[10px] leading-relaxed">
            <p class="text-[14px] mb-4 text-center"> INFORMASI</p>

            <p>
                Petunjuk Reset Password<br><br>

                Masukkan <b>username</b> dan
                <b>email</b> yang terdaftar
                di sistem.<br><br>

                Jika data sesuai, silakan
                membuat <b>password baru</b>.<br><br>

                Password lama tidak
                diperlukan karena sistem
                akan langsung mengganti
                password sebelumnya.
            </p>
        </div> -->
        <div class="pixel-box bg-[#f5f5f5] p-8 w-[420px] z-10">
            <button id="reset">how to reset</button>
            <p class="items-center relative flex justify-center text-[20px]">reset password</p>
            <% if (reset) { %>
                <p class="text-red-600 text-[10px] mb-4">
                    <%= reset %>
                </p>
                <% } %>


                    <form action="/register" method="POST" class="space-y-5">

                        <div>
                            <label class="text-[10px]">USERNAME</label>
                            <input type="text" name="username" class="pixel-input mt-0" />
                        </div>
                        
                        <div>
                            <label class="text-[10px]">EMAIL</label>
                            <input type="email" name="email" class="pixel-input mt-0" />
                        </div>

                        <div>
                            <label class="text-[10px]">PASSWORD BARU</label>
                            <input type="password" name="password" class="pixel-input mt-0" />
                        </div>

                        <button type="submit" class="pixel-btn w-full py-3 text-white text-[10px] cursor-pointer">
                            ▶ SUBMIT REGISTER
                        </button>

                    </form>
        </div>
    </div>

</body>
<script>
    
</script>

</html>